<div class="container">
  <h2>Libros</h2>

  <div class="row">
    <div class="col">
      <a *ngIf="libros?.length > 0" class="btn btn-primary" routerLink="/agregar"><i class="fa fa-plus fa-lg"></i>
        Agregar
        libro</a>
    </div>
    <div class="col-auto">
      <a *ngIf="libros" class="btn btn-info" (click)="cargar()"><i class="fa fa-refresh fa-lg"></i>
        Recargar</a>
    </div>
    <div class="col-auto">
      <a *ngIf="libros?.length > 0" class="btn btn-info" routerLink="buscar-libros"><i class="fa fa-search fa-lg"></i>
        Buscar libro</a>
    </div>
  </div>
  <div class="container p-4" *ngIf="libros?.length === 0">
    <h4 class="text-center">No hay nada agregado aún.</h4>
    <div class="text-center">
      <a class="btn btn-primary" routerLink="/agregar">Agregar tu primer libro</a>
    </div>
  </div>
  <div class="container p-4" *ngIf="libros?.length > 0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center" scope="col">ID</th>
          <th class="text-center" scope="col">Título</th>
          <th class="text-center" scope="col">ISBN</th>
          <th class="text-center" scope="col">Edición</th>
          <th class="text-center" scope="col">No. Ejemplares</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of libros; let i = index">
          <td class="text-center">{{item.a.ID_libro}}</td>
          <td class="text-center">{{item.a.titulo}}</td>
          <td class="text-center">{{item.a.isbn}}</td>
          <td class="text-center">{{item.a.num_edicion}}</td>
          <td class="text-center">{{item.cEjemplares}}</td>
          <td class="text-center">
            <a class="btn btn-secondary" routerLink="editar/{{item.a.ID_libro}}" routerLinkActive="router-link-active">
              <i class="fa fa-edit fa-lg"></i> Editar
            </a>
            <a class="btn btn-light ml-2" routerLink="ejemplares/{{item.a.ID_libro}}"
              routerLinkActive="router-link-active">
              <i class="fa fa-book fa-lg"></i> Ejemplares
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>