<div class="container mt-4">
  <a class="btn btn-primary" routerLink="/libros" routerLinkActive="router-link-active">Volver</a>
  <h2>{{libro?.titulo}}</h2>
  <h3>{{libro?.isbn}}</h3>
  <form *ngIf="formEditarLibro" [formGroup]="formEditarLibro" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input class="form-control" type="text" id="campo-titulo" placeholder="Título" formControlName="campoTitulo"
        autofocus>
    </div>
    <div class="form-group">
      <input class="form-control" type="number" id="campo-isbn" formControlName="campoIsbn" placeholder="ISBN" required>
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!formEditarLibro.valid">
      Actualizar
    </button>
  </form>
</div>