<div class="container">
  <a class="btn btn-primary" (click)="volver()" routerLinkActive="router-link-active">Volver</a>
  <h2>Editar {{libro?.titulo}}</h2>
  <form *ngIf="formEditarLibro" [formGroup]="formEditarLibro" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="campo-titulo">Título</label>
      <input class="form-control" type="text" id="campo-titulo" placeholder="Título" formControlName="campoTitulo"
        autofocus>
    </div>
    <div class="form-group">
      <label for="campo-autor">Autor</label>
      <input class="form-control" type="text" id="campo-autor" formControlName="campoAutor" placeholder="Autor"
        readonly>
    </div>
    <div class="form-group">
      <label for="campo-isbn">ISBN-13</label>
      <input class="form-control" type="number" id="campo-isbn" formControlName="campoIsbn" placeholder="ISBN" required>
    </div>
    <div class="form-group">
      <label for="campo-no-pagina">Número de paǵinas</label>
      <input class="form-control" type="number" id="campo-no-pagina" formControlName="campoNoPagina"
        placeholder="# de ṕáginas" required>
    </div>
    <div class="form-group">
      <label for="campo-no-edicion">Edición</label>
      <input class="form-control" type="number" id="campo-no-edicion" formControlName="campoNoEdicion"
        placeholder="Edición" required>
    </div>
    <div class="form-group">
      <label for="campo-editorial">Editorial</label>
      <input class="form-control" type="text" id="campo-editorial" formControlName="campoEditorial"
        placeholder="Editorial" readonly>
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!formEditarLibro.valid">
      Actualizar
    </button>
  </form>
</div>